// Utility Variables
$site-width: 1336px;

// Colors
$color-primary: #fc5353;
$color-secondary: blue;
$accent-dark: #1d1e23;
$bg-dark: #131417;
$bg-light: #f4f4f4;
$text-light: #ffffff;
$text-dark: #2a2a2a;

// Functions
@function SetTextColor($color) {
  @if (lightness($color) > 50) {
    @return $text-dark;
  } @else {
    @return $text-light;
  }
}
