.container {
  max-width: $site-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 2rem 1rem;
  border-radius: 60px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  color: $text-light;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 21rem;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &-light {
    @extend %btn-shared;
    background-color: $text-light;
    border-color: $text-light;
    color: $text-dark;
  }

  &-outline {
    @extend %btn-shared;
    border-color: $text-light;
  }

  &-block {
    display: block;
    margin: 1.6rem 0;
  }
}

// Form Elements
form {

  input,
  textarea,
  a {
    display: block;
    width: 85%;
    margin: 1rem 0;
  }

  input,
  textarea {
    border-radius: 25px;
    border: none;
    color: $text-dark;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    padding-left: 2rem;
  }

  input {
    height: 6.25rem;
  }

  textarea {
    resize: none;
    height: 20.75rem;
    padding-top: 2rem;

  }
}


// Type
.hero-heading {
  font-family: "Roboto", sans-serif;
  font-size: 21rem;
  font-weight: bold;
  line-height: 18rem;
}

.lead {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.span-primary {
  @extend .lead;
  color: $color-primary;
}

.section-title {
  font-size: 7rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
}

.mx {
  &-1 {
    margin: 0 1rem;
  }

  &-2 {
    margin: 0 2rem;
  }

  &-3 {
    margin: 0 3rem;
  }

  &-4 {
    margin: 0 4rem;
  }
}

//Backgrounds
.bg {
  &-primary {
    background-color: $color-primary;
    color: SetTextColor($color-primary);
  }

  &-dark {
    background-color: $bg-dark;
    color: SetTextColor($bg-dark);
  }

  &-light {
    background-color: $bg-light;
    color: SetTextColor($bg-light);
  }

  &-accent-dark {
    background-color: $accent-dark;
    color: SetTextColor($accent-dark);
  }
}