//Colors
// $body-bg: #131417;
$dark: #1d1e23;

$theme-colors: (
  "primary": #fc5353
);

// Alternative Grays
// $gray-100: #d5d7dc !default;
// $gray-200: #b9bcc5 !default;
// $gray-300: #9da2ae !default;
// $gray-400: #818797 !default;
// $gray-500: #686d7e !default;
// $gray-600: #515562 !default;
// $gray-700: #3a3d46 !default;
// $gray-800: #23242a !default;
// $gray-900: #0c0c0e !default;

// Fonts
// $font-family-sans-serif: "Poppins", san-serif;

$btn-border-radius: 60px;
$btn-border-radius-lg: 60px;
$btn-border-radius-sm: 60px;
