// Imports
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap");
@import "config";
@import "utilities";
@import "portfolio";
@import "general";
@import "contact";

// Home Header
#home-header {
  height: 100vh;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
}

// Navbar
#navbar {
  justify-self: baseline;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;

  #logo {
    a {
      font-size: 6rem;
      font-weight: bold;
      color: $text-light;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      margin-right: 6rem;

      a {
        color: $text-light;
      }
    }
  }
}

// Hero Section
#hero {
  text-align: center;
  padding-top: 20%;

  &-inner {
    display: inline-block;
    text-align: left;
  }

  .lead {
    text-align: center;
  }

  #hero-cta {
    text-align: center;
  }
}

// Footer
.social-tab {
  position: fixed;
  bottom: 0;
  background-color: $color-primary;
  padding: 1rem;

  i {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;

    &:nth-last-child() {
      color: $accent-dark;
    }
  }
}
